./data/data_bio_randaug
./data/data_bion
.idea
*.jsonl
*.json
*.json5
*.zip
*.txt
/transformers
/segmentor
/test.py
/test_stt_rikkei.py
/test_wrong_cases.py
/infer.py
/train.py
/dataset/intent_detection_dataset.py
/configs/cls_qa_config.py
/data/process_dataset.py
/data/split_dataset.py
/data/_test.py
/models/phobert_qa.py
/trainer/cls_qa_trainer.py
/main.py
/nhap.py
/statistics.py
nhap.py
infer_frankenstein.py
*.jsonl